<div class="center">
  <%= form_tag() do %>
    <%= hidden_field_tag(:all_semesters, !@all_semesters) %>
    <% cls = 'btn btn-default btn-md' + (@all_semesters ? " active" : "") %>
    <%= submit_tag "Show All Semesters", class: cls %>
  <% end %>
</div>

<% semesterCount = 1 %>
<% courseCount = 0 %>
<div class="row">
  <% @semesters.each do |semester| %>
    <div class="col-md-6">
      <div class="h3 center">
        <%= semester.getName %>
        <span class="btn-group pull-right">
          <%= button_to (semester.archived ? "Unarchive": "Archive"), 
                { action: "post", 
                  request: "archiveSemesterToggle", 
                  id: semester.id,
                  all_semesters: @all_semesters
                },
                class: 'btn btn-xs ' + (semester.archived ? "btn-warning" : "btn-danger") %>
        </span>
      </div>
      <table class="table table-hover">
        <tr>
          <th>Class</th>
          <th>Professor</th>
          <th>Time</th>
          <th>Required?</th>
          <th>Interest</th>
          <th>Admin</th>
        </tr>
        <% semester.offering.each do |offering| %>
          <tr>
            <td>
              <!--This td statement includes the information for creating a 
              popover displaying the course info above the course name-->
              <div>
                <% courseCount = courseCount + 1 %>
                <span class="mypopover<%= courseCount %>">
                  <%= offering.course.getName %>
                </span>
                
                <script>
                  $(function() {
                    $(".mypopover<%= courseCount %>").popover({
                      trigger: "hover",
                      delay: 500,
                      content: "<%=offering.course.description %>",
                      placement: "top"
                    });
                  });
                </script>
              </div>
            </td>
            <td><%= offering.professor %></td>
            <td><%= offering.time %></td>
            <td><%= offering.course.required ? "Yes" : "No"%></td>
            <td>
              <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalNewOffering">
                <%= offering.user.count %> / <%= offering.capacity.to_s %>
              </button>
            </td>
            <td><%= button_to "Delete", 
                      { action: "post", 
                        request: "deleteOffering", 
                        id: offering.id,
                        all_semesters: !@all_semesters
                      },
                      class: 'btn btn-default btn-sm' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if semesterCount % 2 == 0 %>
      </div>
      <div class="row">
    <% end; semesterCount += 1 %>
  <% end %>
</div>

<br/>
<br/>

<div class="row">
  <div class="col-md-4 center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewSemester">
      <i class="material-icons icon-btn">add</i> New Semester
    </button>
  </div>
  <div class="col-md-4 center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalManageCourses">
      <i class="material-icons icon-btn">more_vert</i> Manage Courses
    </button>
  </div>
  <div class="col-md-4 center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewOffering">
      <i class="material-icons icon-btn">add</i> New Offering
    </button>
  </div>
</div>


<!--Modal for creating new semster-->
<div id="modalNewSemester" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(class: "form-horizontal") do %>
        <%= hidden_field_tag(:all_semesters, @all_semesters) %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Semester</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag(:year, "School Year", class: "control-label") %>
            <%= number_field_tag(:year, 2017, min: 2017, step: 1, class: "form-control") %><br/>
          </div>
          <div class="form-group">
            <%= label_tag(:term, "Term:", class: "control-label") %>
            <%= select_tag(:term, options_for_select(["Fall", "Spring"]), class: "form-control")%><br/>
          </div>
          <%= hidden_field_tag(:request, "newSemester") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Modal for managing courses -->
<div id="modalManageCourses" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Manage Courses</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
        </div>
        
        <table class="table table-hover">
          <tr>
            <th>Course Number</th>
            <th>Course Title</th>
            <th>Description</th>
            <th>Required?</th>
            <th>Modify</th>
          </tr>
            <% @courses.each do |course| %>
              <tr>
                <td><%= course.course_number %></td>
                <td><%= course.title %></td>
                <td><%= course.description %></td>
                <td><%= course.required ? "Yes" : "No"%></td>
                <td><%= button_to "Delete", 
                          { action: "post", 
                            request: "deleteCourse", 
                            id: course.id,
                            all_semesters: @all_semesters
                          },
                          class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
        </table>

    
        <h4>New Course</h4>
        <%= form_tag() do %>
          <%= hidden_field_tag(:all_semesters, @all_semesters) %>
          <%= label_tag(:course_number, "Course Number:") %>
          <%= text_field_tag(:course_number) %><br/>
          <%= label_tag(:title, "Title:") %>
          <%= text_field_tag(:title) %><br/>
          <%= label_tag(:description, "Description:") %>
          <%= text_field_tag(:description) %><br/>
          <%= check_box_tag(:required, true) %>
          <%= label_tag(:required, "Course is required") %><br/>
          <%= hidden_field_tag(:request, "newCourse") %>
          <%= submit_tag("New Course") %>
        <% end %>
        <br/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal for creating new offering -->
<div id="modalNewOffering" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(class: "form-horizontal") do %>
        <%= hidden_field_tag(:all_semesters, @all_semesters) %>
        <%= hidden_field_tag(:request, "newOffering") %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Offering</h4>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <%= label_tag(:professor, "Professor", class: "control-label") %>
            <%= text_field_tag(:professor, nil, class: "form-control") %>
          </div>
          <div class="form-group">
            <%= label_tag(:time, "Time", class: "control-label") %>
            <%= text_field_tag(:time, nil, class: "form-control") %>
          </div>
          <div class="form-group">
            <%= label_tag(:capacity, "Capacity", class: "control-label") %>
            <%= number_field_tag(:capacity, 25, min: 0, step: 1, class: "form-control") %>
          </div>
          <div class="form-group">
            <%= label_tag(:course, "Course", class: "control-label") %>
            <%= collection_select(nil, :course, Course.order(:course_number), :id, :getName, {}, {:class => "form-control"}) %>
          </div>
          <div class="form-group">
            <%= label_tag(:semester, "Semester", class: "control-label") %>
            <%= collection_select(nil, :semester, Semester.getUnarchivedSemesters, :id, :getName, {}, {:class => "form-control"}) %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
