<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  You are an administrator!
</div>

<% semesterCount = 1 %>
<% @semesters.each do |semester| %>
<table>
  <caption>
    <h3>
      <%= semester.getName %>
      <%= button_to "Delete Semester", 
            { action: "post", 
              request: "deleteSemester", 
              id: semester.id
            },
            class: 'btn btn-default btn-sm btn-block' %>
    </h3>
    
  </caption>
  <tr>
    <th>Class</th>
    <th>Professor</th>
    <th>Time</th>
    <th>Required?</th>
    <th>Interest</th>
    <th>Admin</th>
  </tr>
  <% semester.offering.each do |offering| %>
    <tr>
      <td><%= offering.course.getName %></td>
      <td><%= offering.professor %></td>
      <td><%= offering.time %></td>
      <td><%= offering.course.required ? "Yes" : "No"%></td>
      <td><%= offering.user.count %> / <%= offering.capacity %></td>
      <td><%= button_to "Delete", action: "post", request: "deleteOffering", id: offering.id %></td>

    </tr>
  <% end %>
</table>
<% if semesterCount % 2 == 0 %>
  <br/>
  <br/>
<% end; semesterCount += 1 %>
<% end %>


<h3>New Semester</h3>
<%= form_tag() do %>
  <%= label_tag(:year, "School Year:") %>
  <%= number_field_tag(:year, 2017, min: 2017, step: 1) %><br/>
  <%= label_tag(:term, "Term:") %>
  <%= select_tag(:term, options_for_select(["Fall", "Spring"]))%><br/>
  <%= hidden_field_tag(:request, "newSemester") %>
  <%= submit_tag("New Semester") %>
<% end %>
<br/>

<h3>New Course</h3>
<%= form_tag() do %>
  <%= label_tag(:course_number, "Course Number:") %>
  <%= text_field_tag(:course_number) %><br/>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %><br/>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %><br/>
  <%= check_box_tag(:required, true) %>
  <%= label_tag(:required, "Course is required") %><br/>
  <%= hidden_field_tag(:request, "newCourse") %>
  <%= submit_tag("New Course") %>
<% end %>
<br/>

<h3>New Offering</h3>
<%= form_tag() do %>
  <%= label_tag(:professor, "Professor:") %>
  <%= text_field_tag(:professor) %><br/>
  <%= label_tag(:time, "Time:") %>
  <%= text_field_tag(:time) %><br/>
  <%= label_tag(:capacity, "Capacity:") %>
  <%= number_field_tag(:capacity, 25, min: 0, step: 1) %><br/>
  <%= label_tag(:course, "Course:") %>
  <%= collection_select(nil, :course, Course.order(:course_number), :id, :getName)%><br/>
  <%= label_tag(:semester, "Semester:") %>
  <%= collection_select(nil, :semester, Semester.order(:academic_year), :id, :getName)%><br/>
  <%= hidden_field_tag(:request, "newOffering") %>
  <%= submit_tag("New Offering") %>
<% end %>