<% semesterCount = 1 %>
<div class="row">
  <% @semesters.each do |semester| %>
    <div class="col-md-6">
      <div class="h3 center">
        <%= semester.getName %>
        <span class="btn-group pull-right">
          <%= button_to "Delete", 
                { action: "post", 
                  request: "deleteSemester", 
                  id: semester.id
                },
                class: 'btn btn-danger btn-xs' %>
        </span>
      </div>
      <table class="table table-hover">
        <tr>
          <th>Class</th>
          <th>Professor</th>
          <th>Time</th>
          <th>Required?</th>
          <th>Interest</th>
          <th>Admin</th>
        </tr>
        <% semester.offering.each do |offering| %>
          <tr>
            <td><%= offering.course.getName %></td>
            <td><%= offering.professor %></td>
            <td><%= offering.time %></td>
            <td><%= offering.course.required ? "Yes" : "No"%></td>
            <td><%= offering.user.count %> / <%= offering.capacity %></td>
            <td><%= button_to "Delete", 
                      { action: "post", 
                        request: "deleteOffering", 
                        id: offering.id
                      },
                      class: 'btn btn-default btn-sm' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if semesterCount % 2 == 0 %>
      </div>
      <div class="row">
    <% end; semesterCount += 1 %>
  <% end %>
</div>

<br/>
<br/>

<div class="row">
  <div class="col-md-3 center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewSemester">
      <i class="material-icons icon-btn">add</i> New Semester
    </button>
  </div>
  <div class="col-md-3 center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewCourse">
      <i class="material-icons icon-btn">add</i> New Course
    </button>
  </div>
  <div class="col-md-3 center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewOffering">
      <i class="material-icons icon-btn">add</i> New Offering
    </button>
  </div>
</div>


<!--Modal for creating new semster-->
<div id="modalNewSemester" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(class: "form-horizontal") do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Semester</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag(:year, "School Year", class: "control-label") %>
            <%= number_field_tag(:year, 2017, min: 2017, step: 1, class: "form-control") %><br/>
          </div>
          <div class="form-group">
            <%= label_tag(:term, "Term:", class: "control-label") %>
            <%= select_tag(:term, options_for_select(["Fall", "Spring"]), class: "form-control")%><br/>
          </div>
          <%= hidden_field_tag(:request, "newSemester") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Modal for creating new course NTO WORKING -->
<div id="modalNewSemester" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(class: "form-horizontal") do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Semester</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Modal for creating new offering -->
<div id="modalNewOffering" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(class: "form-horizontal") do %>
        <%= hidden_field_tag(:request, "newOffering") %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Offering</h4>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <%= label_tag(:professor, "Professor", class: "control-label") %>
            <%= text_field_tag(:professor, nil, class: "form-control") %>
          </div>
          <div class="form-group">
            <%= label_tag(:time, "Time", class: "control-label") %>
            <%= text_field_tag(:time, nil, class: "form-control") %>
          </div>
          <div class="form-group">
            <%= label_tag(:capacity, "Capacity", class: "control-label") %>
            <%= number_field_tag(:capacity, 25, min: 0, step: 1, class: "form-control") %>
          </div>
          <div class="form-group">
            <%= label_tag(:course, "Course", class: "control-label") %>
            <%= collection_select(nil, :course, Course.order(:course_number), :id, :getName, {}, {:class => "form-control"}) %>
          </div>
          <div class="form-group">
            <%= label_tag(:semester, "Semester", class: "control-label") %>
            <%= collection_select(nil, :semester, Semester.order(:academic_year), :id, :getName, {}, {:class => "form-control"}) %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<h3>New Course</h3>
<%= form_tag() do %>
  <%= label_tag(:course_number, "Course Number:") %>
  <%= text_field_tag(:course_number) %><br/>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %><br/>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %><br/>
  <%= check_box_tag(:required, true) %>
  <%= label_tag(:required, "Course is required") %><br/>
  <%= hidden_field_tag(:request, "newCourse") %>
  <%= submit_tag("New Course") %>
<% end %>
<br/>
