<h1>Dashboard</h1>
<% @semesters.each do |semester| %>
  <table>
    <caption><%= semester.academic_term %> <%= semester.academic_year %></caption>
    <tr>
      <th>Class</th>
      <th>Professor</th>
      <th>Interest</th>
    </tr>
    <% semester.offering.each do |offering| %>
      <tr>
        <td><%= offering.course.course_id %></td>
        <td><%= offering.professor %></td>
        <td>x/<%= offering.capacity %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<br>
New Semester

<%= form_tag() do %>
  <%= label_tag(:year, "School Year:") %>
  <%= text_field_tag(:year) %>
  <%= label_tag(:term, "Term:") %>
  <%= text_field_tag(:term) %>
  <%= hidden_field_tag(:request, "newSemester") %>
  <%= submit_tag("New Semester") %>
<% end %>
