<% @semesters.each do |semester| %>
  <table>
    <caption><%= semester.academic_term %> <%= semester.academic_year %></caption>
    <tr>
      <th>Class</th>
      <th>Professor</th>
      <th>Interest</th>
    </tr>
    <% semester.offering.each do |offering| %>
      <tr>
        <td><%= offering.course.course_id %></td>
        <td><%= offering.professor %></td>
        <td>x/<%= offering.capacity %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<br>
New Semester

<%= form_tag() do %>
  <%= label_tag(:year, "School Year:") %>
  <%= text_field_tag(:year) %>
  <%= label_tag(:term, "Term:") %>
  <%= text_field_tag(:term) %>
  <%= hidden_field_tag(:request, "newSemester") %>
  <%= submit_tag("New Semester") %>
<% end %>
  
<%= form_tag() do %>
  <%= label_tag(:semester, "Semester:") %>
  <%= f.collection_select :semester, semesters.order(:academic_year),:academic_year,:academic_term, include_blank: true %>
  <%= label_tag(:course_number, "Course Number:") %>
  <%= text_field_tag(:course_number) %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag("Description") %>
  <%= label_tag(:required, "Required:") %>
  <%= text_field_tag("Required") %>
  <%= hidden_field_tag(:request, "newCourse") %>
  <%= submit_tag("New Course") %>
<% end %>

