<% @semesters.each do |semester| %>
  <table>
    <caption><%= semester.academic_term %> <%= semester.academic_year %></caption>
    <tr>
      <th>Class</th>
      <th>Professor</th>
      <th>Interest</th>
    </tr>
    <% semester.offering.each do |offering| %>
      <tr>
        <td><%= offering.course.course_id %></td>
        <td><%= offering.professor %></td>
        <td>x/<%= offering.capacity %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<br>
New Semester

<%= form_tag() do %>
  <%= label_tag(:academic_year, "School Year:") %>
  <%= text_field_tag(:academic_year) %>
  <%= label_tag(:academic_term, "Term:") %>
  <%= text_field_tag(:academic_term) %>
  <%= hidden_field_tag(:request, "newSemester") %>
  <%= submit_tag("New Semester") %>
<% end %>
  
<%= form_tag() do %>
  <%= label_tag(:course_number, "Course Number:") %>
  <%= text_field_tag(:course_number) %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %>
  <%= check_box_tag(:required, true) %>
  <%= label_tag(:required, "Course is required") %>
  <%= hidden_field_tag(:request, "newCourse") %>
  <%= submit_tag("New Course") %>
<% end %>

<%= form_tag() do %>
  <%= label_tag(:professor, "Professor:") %>
  <%= text_field_tag(:professor) %>
  <%= label_tag(:time, "Time:") %>
  <%= text_field_tag(:time) %>
  <%= label_tag(:capacity, "Capacity:") %>
  <%= text_field_tag("Capacity") %>
  <%= label_tag(:course, "Course:") %><br />
  <%= collection_select(:offering, :course_id, Course.order(:course_number), :id, :title)%>
<% end %>