<% @semesters.each do |semester| %>
  <table>
    <caption><%= semester.academic_term %> <%= semester.academic_year %></caption>
    <tr>
      <th>Class</th>
      <th>Professor</th>
      <th>Interest</th>
    </tr>
    <% semester.offering.each do |offering| %>
      <tr>
        <td><%= offering.course.course_id %></td>
        <td><%= offering.professor %></td>
        <td>x/<%= offering.capacity %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<br>
New Semester
<form method="POST">
  School Year: <input type="text" name="year"><br>
  Term: <input type="text" name="term"><br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <input type="submit" name="request" value="newSemester">
</form>
