<h1>Dashboard</h1>

<%= form_tag() do %>
  <%= hidden_field_tag(:request, "pickCourse") %>
  <% semesterCount = 1 %>
  <% @semesters.each do |semester| %>
    <table>
      <caption>
        <h3><%= semester.getName %></h3>
        <button>Delete Semester</button>
      </caption>
      <tr>
        <th>Class</th>
        <th>Professor</th>
        <th>Required?</th>
        <th>Interest</th>
        <th>I'm Taking</th>
        <th>Admin</th>
      </tr>
      <% semester.offering.each do |offering| %>
        <tr>
          <td><%= offering.course.getName %></td>
          <td><%= offering.professor %></td>
          <td><%= offering.course.required ? "Yes" : "No"%></td>
          <td>x/<%= offering.capacity %></td>
          <td><%= check_box("selected", offering.id, checked: !@selected_offerings.include?(offering)) %></td>
          <td>Delete</td>

        </tr>
      <% end %>
    </table>
    <% if semesterCount % 2 == 0 %>
      <br/>
      <br/>
    <% end; semesterCount += 1 %>
  <% end %>

  <%= submit_tag("Submit Course Preferences") %>
<% end %>
<br/>
<br/>



<h3>New Semester</h3>
<%= form_tag() do %>
  <%= label_tag(:year, "School Year:") %>
  <%= text_field_tag(:year) %><br/>
  <%= label_tag(:term, "Term:") %>
  <%= text_field_tag(:term) %><br/>
  <%= hidden_field_tag(:request, "newSemester") %>
  <%= submit_tag("New Semester") %>
<% end %>
<br/>

<h3>New Course</h3>
<%= form_tag() do %>
  <%= label_tag(:course_number, "Course Number:") %>
  <%= text_field_tag(:course_number) %><br/>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %><br/>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %><br/>
  <%= check_box_tag(:required, true) %>
  <%= label_tag(:required, "Course is required") %><br/>
  <%= hidden_field_tag(:request, "newCourse") %>
  <%= submit_tag("New Course") %>
<% end %>
<br/>

<h3>New Offering</h3>
<%= form_tag() do %>
  <%= label_tag(:professor, "Professor:") %>
  <%= text_field_tag(:professor) %><br/>
  <%= label_tag(:time, "Time:") %>
  <%= text_field_tag(:time) %><br/>
  <%= label_tag(:capacity, "Capacity:") %>
  <%= number_field_tag(:capacity, 25, min: 0, step: 1) %><br/>
  <%= label_tag(:course, "Course:") %>
  <%= collection_select(nil, :course, Course.order(:course_number), :id, :getName)%><br/>
  <%= label_tag(:semester, "Semester:") %>
  <%= collection_select(nil, :semester, Semester.order(:academic_year), :id, :getName)%><br/>
  <%= hidden_field_tag(:request, "newOffering") %>
  <%= submit_tag("New Offering") %>
<% end %>
<br/>
