
<div class="container">
  <div class="row">
    <div class="login pull-left">
      <div class="mobile">
        <%= image_tag('mobile.png') %>
        <h2>Log in!<br/></h2>
        
      </div>
    </div>
    <div class="register pull-right">
      <div class="header">
        <h1>Sign In</h1>
        <span></span>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group clearfix">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: 'you@grinnell.edu' %>
        </div>

        <div class="form-group clearfix">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Log In", class: "btn btn-default btn-orange" %>
        </div>

        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>