<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CS Planner", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to User.current_user.name, edit_user_registration_path %></li>
          <li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Log in', new_user_session_path)  %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>